<launch>
  <!-- Launch ms_node -->
  <node name="ms_node" pkg="ac_driver" type="ms_node" output="screen">
    <!-- Add parameters or remappings here if needed -->
    <!-- Frame rate for image input, measured in frames per second -->
    <param name="image_input_fps" value="30" />
    <!-- Frame rate for IMU (Inertial Measurement Unit) input, measured in frames per second -->
    <param name="imu_input_fps" value="200" />
    <!-- Whether to enable JPEG image compression -->
    <param name="enable_jpeg" value="false" />
    <!-- Whether to enable JPEG image compression quality -->
    <param name="jpeg_quality" value="70" />
  </node>
  
  <!-- rviz -->
  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-d $(find ac_driver)/rviz/rviz.rviz" /> -->
</launch>
